<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<style>


</style>

<body class="background">

    <div class="mainbox">
        <div style="height: 100px; width: 100px; background-color: grey;">Drag this</div>
        <div style="height: 100px; width: 100px; background-color: green;">Drop here</div>
    </div>

    <script src="js/app.js">
	</script>
</body>

</html>
